.priceDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  padding: 0 3% 0 5%;
}
.button {
  background-color: #faa9b3;
  color: white;
  padding: 4% 9%;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #ccc;
}
