.navbar {
  position: fixed;
  bottom: 10px;
  width: 90%;
  padding: 2% 0;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px #ccc;
}
